.container{
    width:600px;
    height:700px;
    margin:auto;
    flex-direction: column;
}

#box1{
    width:600px;
    height:100px;
    color:white;
    background-color: black;
    padding-top: 10px;
}

#box2{
    width:600px;
    height:60px;
    color:white;
    text-indent: 30px;
    background-color: gray;
    
}

#box4{
    position: fixed;
    width:600px;
    height:100px;
    bottom:0;
    color:white;
    background-color: black;
    padding-top: 10px;
}

#box3{
    flex-direction: row;
    width:600px;
    height: 410px;
}

#b1{
    background-color: lightgrey;
    width:350px;
    height:410px;
    margin-left:30px;
    margin-top:10px;
    margin-bottom: 10px;
    line-height:300px;
}

#b2{
    background-color:grey;
    width:190px;
    height:410px;
    margin-right:30px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:10px;
    line-height:300px;
}   