.container{
    width:1200px;
    height:910px;
    background-color:rgb(117, 125, 115);
    border:5px solid black;
    text-indent: 5px;
    margin:0 auto;
}

#t75{
    width:100%;
    height:200px;
    flex-direction: row;
}

.t77{
    width:60px;
    height:200px;
    align-content: end;

}

.t78{
    width:40px;
    height:200px;
    align-content: end;

}

#t71{
    width:100%;
    height:100px;
    top: 0px;
}